# Repo assets
assets

# Node deps
node_modules
**/node_modules

# Build artifacts
**/dist

# Local DBs
packages/server/data
packages/server/data/**
*.db

# Env files
.env
.env.*

# Secrets
**/certs
*.pem
*.key
*.crt

# Git
.git
.gitignore

# IDEs
.vscode

# Test reports
**/coverage
**/reports

# Docker
.dockerignore
Dockerfile*
